body {
  font-family: 'Poppins', sans-serif;
}

p {
  line-height: 2rem;
  margin-bottom: 0;
}

.navbar {
  top: 0;
  z-index: 100;
}

.navbar-light .navbar-nav .nav-link {
  color: $dark;
  padding: 1.5rem 1.5rem 1.5rem 0;
}

.hero {
  margin-top: 72px;

  &__background {
    top: -30rem;
    left: -5rem;
    z-index: -1;
  }

  &__image {
    z-index: 1;

    img {
      margin: 0 auto;
    }
  }

  &__content {
    z-index: 2;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;

    p {
      margin-bottom: 1rem;
    }

    h1 {
      font-size: 50px;
      margin-bottom: 1rem;
    }

    p,
    h1 {
      color: white;
    }

    .btn {
      background-color: white;
      box-shadow: 0 3px 6px 0 rgba($color: #000000, $alpha: 0.16);
      padding: 1rem 2rem;
      border-radius: 58px;
      transition: all 0.5s;

      &:hover {
        background-color: $primary;
        color: white !important;
      }
    }
  }
}

.advantage {
  margin-top: 7rem;

  &__item {
    &__img {
      min-height: 215.75px;
      display: flex;

      img {
        margin: auto;
        margin-bottom: 0;
      }
    }
  }
}

.product {
  background-color: $dark;
  padding: 10rem 0;

  &__item {
    margin-bottom: 2rem;

    &__container {
      border-radius: 5px;
      overflow: hidden;
      height: 65px;
      display: flex;
      position: relative;
      box-shadow: 0 3px 6px 0 rgba($color: #000000, $alpha: 0.16);

      &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba($color: $primary, $alpha: 0.53);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }

    &__name {
      color: white;
      position: relative;
      z-index: 2;
      margin: auto;
      text-align: center;
    }

    &__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.ellipse {
  &__center {
    position: absolute;
    top: 10rem;
    left: -140rem;
  }

  &__down {
    position: absolute;
    top: 1rem;
    z-index: -1;
    right: 10rem;
  }
}

.register {
  margin-bottom: 5rem;

  &__requirement {
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: 1rem;
      padding-left: 1.5rem;
      position: relative;
      height: 48px;
      display: flex;
      align-items: center;

      &::before {
        content: '';
        height: 100%;
        width: 13px;
        background-color: $primary;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

.question {
  &__item {
    border-bottom: 1px solid rgba($color: $dark, $alpha: 0.5);
    margin-bottom: 1rem;

    &__ask {
      position: relative;
      cursor: pointer;
      display: block;
      padding: 1rem;
      margin: 0;
      transition: all 0.5s;

      &:hover {
        background-color: $primary;
        color: white;
        transition: all 0.5s;

        &::before {
          border-top: 10px solid $white;
          transition: all 0.5s;
        }
      }

      &:before {
        content: '';
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 10px solid $dark;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1rem;
      }
    }

    &__trigger {
      opacity: 0;
      position: absolute;

      &:checked ~ .question__item__answer {
        transition: all 0.5s;
        height: 200px;
      }

      &:checked + .question__item__ask {
        background-color: $primary;
        color: white;

        &::before {
          border-top: 10px solid $white;
          transform: translateY(-50%) rotate(180deg);
          transition: all 0.5s;
        }
      }
    }

    &__answer {
      transition: all 0.5s;
      height: 0px;
      background-color: #f9f9f9;
      overflow: hidden;

      span {
        padding: 1rem;
        display: block;
      }
    }
  }
}

.footer {
  background-color: $dark;

  p,
  span {
    color: white;
  }

  &__nav {
    height: 100%;

    ol {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;

      li {
        margin: 1rem auto;
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .footer {
    &__nav {
      ol {
        flex-direction: row;

        li {
          margin: 0;
          padding-left: 2rem;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .ellipse {
    &__down {
      right: 25rem;
    }
  }
}

@media screen and (min-width: 992px) {
  nav.navbar-scroll-active {
    background-color: white !important;
    transition: all 0.5s;

    .nav-link {
      color: black !important;
      transition: all 0.5s;
    }
  }

  nav.navbar-scroll-deactive {
    background-color: rgba($color: #000000, $alpha: 0) !important;
    transition: all 0.5s;

    .nav-link {
      color: white !important;
      transition: all 0.5s;
    }
  }

  .navbar {
    background-color: rgba($color: #000000, $alpha: 0) !important;
    color: white !important;
  }

  .navbar-light .navbar-nav .nav-link {
    color: white;
  }

  .advantage {
    margin-top: 20rem;
  }

  .hero {
    &__content {
      order: 2;
      max-width: 617px;
      margin-left: auto;
    }

    &__image {
      order: 1;
    }

    &__background {
      left: 15rem;
    }
  }

  .ellipse {
    &__down {
      right: 40rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    &__background {
      left: 25rem;
    }
  }

  .ellipse {
    &__down {
      right: 45rem;
    }
  }

  .register {
    margin-bottom: 15rem;
  }
}

@media screen and (min-width: 1366px) {
  .ellipse {
    &__down {
      right: 70%;
    }
  }
}
